*{
    box-sizing: border-box;
}
.container{
    width: 1500px;
    height: 500px;
    margin: 50px auto;
    /* border: 1px solid green; */
    position: relative;
}
.container img{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
}
.one{
    width: 120px;
        height: 50px;
        color: #fff;
        background-color: #777;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 10%;
        top: 30%;
        text-transform: capitalize;
        font-weight: bold;
}
.two{
    width: 180px;
        height: 50px;
        color: #777;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 10%;
        top: 40%;
        text-transform: capitalize;
        font-weight: bold;
        z-index: 5;
}
.three{
    width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #777;
        color: #fff;
        position: absolute;
        left: 20%;
        top: 38%;
        z-index: 4;
        font-size: 75px;
}
.four{
    width: 280px;
        height: 280px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: #777;
        background-color: #ffeb03;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
        position: absolute;
        left: 30%;
        top: 30%;
        z-index: 3;
        font-size: 90px;
}
.five{
    width: 250px;
        height: 250px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 75px;
        background-color: #777;
        position: absolute;
        left: 47%;
        top: 32%;
        z-index: 2;
}
.six{
    width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 59%;
        top: 20%;
        color: #777;
        background-color: #ffeb03;
        font-size: 90px;
        z-index: 3;
    }
.seven{
    color: #777;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 65%;
        top: 52%;
        width: 180px;
        height: 50px;
        text-transform: capitalize;
        z-index: 5;
        font-weight: bold;
}
.eight{
    width: 150px;
        height: 50px;
        color: #777;
        background-color: #ffeb03;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        font-weight: bold;
        text-transform: capitalize;
        position: absolute;
        left: 60%;
        top: 62%;

}